{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img class="d-block mx-lg-auto img-fluid" src="https://cdn.britannica.com/39/76939-050-B787E5BF/bull-Black-Angus.jpg" width="700" height="500">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold">Angesu Shop</h1>
                    <p class="lead">Rob Angus and sell his stuff</p>
                    <a class="btn btn-lg btn-primary me-2" href="/signup">Start Today!</a>
                    <a type="button" class="btn btn-lg btn-outline-secondary" href="#">About Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in product %}
                <div class="col">
                    <div class="card shadow" href="view/{{item}}">
                        <div class="card-img">
                            <img src="{{product[item]['image']}}" class="img card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{product[item]['name']}}</h5>
                            <h6 class="card-subtitle my-2 text-muted">{{product[item]['condition']}}</h6>
                            <div class="dropdown-divider"></div>
                            <p class="card-text">{{product[item]['description']}}</p>
                            <p class="card-text fw-bold">HK ${{product[item]['price']}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>{{product[item]['user']}}</p>
                                <p class="text-muted">{{product[item]['postdate']}}</p>
                            </div>
                            <p href="#"><i class="bi bi-heart"></i></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2021 Angus, Shop</p>
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <i class="bi bi-egg-fill"></i>
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">When</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Angus</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Is</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sus</a></li>
        </ul>
    </footer>
</div>
{% endblock %}