{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow-md">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <!--img-->
        </a>
    <ul class="nav nav-pills">
        <li class="nav-item">Home</li>
        <li class="nav-item">Categories</li>
        <li class="nav-item">Profile</li>
    </ul>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-outline-success">Login</button>
    </div>
</nav>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}